.chart1Container{
    height: 400px;
}
.totalTickets {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    background: #f5f6f7;
}
.mainChart {
<<<<<<< HEAD
    width: 100%;
=======
   
    width: 90%;
>>>>>>> 7aa0bc8b4e56466c3a5cdd0547aadbed4434ae5b
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 25px;

}
canvas {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.displayCharts {
    width: 100%;
    
}
.content{
    width: 100%;
    margin-bottom: 2em;
}
canvas{
    margin: 4em 0;
    width: 100%;
}
.ticketResponceTime{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
}
.minTime, .averageTime, .maxTime {
    background-color: #f5f6f7;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
