.chart1Container{
    height: 400px;
}
.totalTickets {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    background: #f5f6f7;
}
.mainChart {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.displayCharts {
    width: 100%;
    
}
.content{
    width: 100%;
    margin-bottom: 2em;
}
canvas{
    margin: 4em 0;
    width: 100%;
}
