@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic,600italic");
body{
    background-color: #fff;
    width:98%;
}
h1, h2, h3, h4, h5, h6, a, p, body, textarea{
    font-family: "Source Sans Pro", sans-serif;
}
input[type="text"], input[type="password"]{
	appearance: none;
	background: #f5f6f7;
	border: solid 1px #eff1f2;
	color: inherit;
	display: block;
	outline: 0;
	text-decoration: none;
    height:2.5em;
}
input[type="text"]:focus, input[type="password"]:focus{
	border-color:#4287c9;
	box-shadow: 0 0 0 2px #4287c9;
}
button {
	appearance: none;
    outline: 0;
	background-color: #51a1ef;
	border: 0;
	color: #ffffff;
	font-weight: 400;
    cursor: pointer;
	height: 2.6em;
	line-height: 2.6em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.login-body{
    background-color: #f5f6f7;
    
}
.login-form{
    background-color: #fff;
    width: 35%;
    padding: 3%;
    margin-left: 30%;
    margin-top: 20%;
}
.login-form input{
    width:95.6%;
    padding: 0 2%;
    height: 3.2em;
}
.login-field{
    margin: 1.3em 0;
}
.login-button{
    width:100%;
    height: 3.2em;
}
.databaseWrapper{
    background-color: #fff;
    width: 35%;
    padding: 3%;
    margin: 0 auto;
    margin-top: 12%;
}
#viewDatabases{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    height: 3.2em;
        
}
#dbBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tableWrapper{
    width: 90%;
    background-color: #f2f2f2;
    margin-bottom: 20px;    
    
}
.tableName{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #fff;
}
.dbTable{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    
}
.dbTable td{
    
}
a {
    text-decoration: none;
}
